*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

  background-color:#F2F2F2 !important;
  overflow-x: hidden;

}


html,
body,
.view {
  height:100%;
}

@media (min-width: 900px) and (min-width: 1200px) and (orientation:portrait) {
  html,
  body,
  .view {
    height: 600px;
  }
  .formulario{
    display: none; 
 }
}
@media (max-width: 1201px) and (max-width: 2500px) and (orientation:landscape) {
  html,
  body,
  .view {
    height: 440px;
  }
  .formulario{
    display: none; 
 }
}
.hidden{

  overflow: hidden;

}  
.centrado{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#00838F;


}
@font-face{

  font-family: "MeganJune";
  src: local('Sans Serif'),local('sans-serif'),url(../fonts/MeganJune.otf) format("truetype");
  font-display: swap;
   
}
#navbarSupportedContent-7>ul>li>a{
  font-family:"MeganJune", sans-serif !important;
  font-size: 19px;
  letter-spacing: 1px;
}

p{
  font-family:"MeganJune", sans-serif !important;
  font-size: 20px;

}
.ventas{
  font-family:"MeganJune", sans-serif !important;
  font-size: 20px;
  letter-spacing: 2px;
}
@font-face{

  font-family: "Antipasto";
  src: local('Sans Serif'),local('sans-serif'),url(../fonts/AntipastoPro.ttf) format("truetype");
  font-display: swap;

}
h6{

  font-family:"MeganJune", sans-serif !important;
  font-size: 20px;
}
.pregunta{

  font-family:"MeganJune", sans-serif !important;
  font-size: 23px;
}
h3{
  font-family:"Antipasto", sans-serif !important;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}
h4,h2{
  font-family:"Antipasto", sans-serif !important;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
}
.question{
  font-family:"MeganJune", sans-serif !important;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;

}


.top-nav-collapse {
  background-color:#00838F!important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #00838F!important;
  }
}
.vis{

  font-size: 25px;

}
.mul{

  font-family:"MeganJune", sans-serif !important;
  font-size: 30px;
  letter-spacing: 1px;
}
.env{

  font-family:"MeganJune", sans-serif !important;
  font-size: 16px;
  letter-spacing: 1px;

}


.btn-green{
  background: #00C851!important;
}
.conocenos{
  background-color:#00838F!important ;
  color: #fff !important;
  padding-top: 20px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
} 
@media (max-width: 768px) {

.conocenos {
  font-size: 16px;
  margin-top: 3px;
}
.conocenos>h2{
  font-size: 22px;
  margin-bottom: 15px;
}
.view {
  height:100%;
}

}
@media (max-width: 768px) {
.aprobacion {
   font-size: 16px !important;
   margin-top: 3px !important ;
 }
 .aprobacion > h2{
   font-size: 22px;
   margin-bottom: 15px;
 }  
 .view {
   height:100%;
 }
 .question{

  font-size: 18px !important;
  

 }

}
strong {
font-weight: 900 !important;
}
.redes:hover{

font-size: 12px;
margin-top: 30px;

}
.proyecto{
background:#fff;
}
.empresa{
background:#fff;
}



.map-container {
overflow: hidden;
position: relative;
height: 0;
}

.map-container iframe {
left: 0;
top: 0;
height: 100%;
width: 100%;
position: absolute;
}
.logo{

margin-top: 50px;
width: 70%; 
padding-bottom: 20px;
}
@media (max-width: 768px) {

.logo{

  margin-top: 10px;
  width: 50%; 
  padding-bottom: 20px;
}
.formulario{
   display: none; 
}
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
}
  .gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease; 
}
  .gallery .animation {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

@media (max-width: 450px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

@media (max-width: 402px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}
button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}
.lds-spinner {
  color: #fff;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background:#fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}






